
/*@media only screen and (min-device-width : 760px) and (max-device-width : 1250px) and (orientation : portrait) */

@media (max-width: 1450px) {

    html, body{
        min-width: 1250px;
        overflow-x: visible;
    }

    /* index page */

    .main-slaider .bx-controls-direction{
        width: 1020px;
    }

    .slide-content{
        width: 1020px;
    }

    .slide-content a.button{
        background-color: rgba(255, 255, 255, 0.09);
    }

    .slide-item-info{
        left: -150px;
        padding: 66px 30px 66px 30px;
    }

    .slide3 .slider-item-piece{
        padding-top: 50px;
    }

    .slide3 .item-piece:last-child{
        display: none;
    }

    #slider-type-frame{
        background-position-x: -113px;
    }

    .slider-products-content{
        width: 1020px;
    }

    .slider-products-content .slider-products li{
        margin: 0px 25px 0 0;
    }

    .spa-promo{
        width: 480px;
        height: 447px;
    }

    .promo-banner{
        width: 426px;
        height: 393px;
    }

    .promo-banner:before{
        left: 220px;
    }

    .bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager{
        bottom: -40px;
    }

    .promo-slider .promo-slide-info{
        padding: 10px 0;
    }

    .promo-banner .promo-banner-menu{
        margin: 0px 56px 10px 61px;
    }

    .city{
        width: 313px;
        margin-right: 12px;
    }

    /*------------------------------------------------------------------------------------------------*/
    /* main catalog page */

    .container{
        width: 1020px;
    }

    .main-catalog-type-item{
        padding: 0 17px;
    }

    .madein{
        margin-left: 350px;
    }

    footer{
        height: 220px;
    }

    .footer-menu-one{
        margin: 0 35px 0 20px;
    }

    .footer-menu-two{
        margin-right: 50px;
    }

    /*------------------------------------------------------------------------------------------------*/
    /* catalog page */

    /*------------------------------------------------------------------------------------------------*/
    /* catalog item page */

    .item-image{
        width: 488px;
    }

    .item-image img{
        width: 90%;
        height: auto;
    }

    .item-description{
        margin-left: 457px;
    }

    .part-questions{
        width: 423px;
        padding: 23px 29px 26px 23px;

    }

    .part-useful{
        width: 382px;
    }

    .flo{
        left: 314px;
    }

    .same-part .slider-products-content{
        width: 930px;
    }

    .receipt-content .control-btn{
        display: block;
    }

    .receipt-content .control-btn .slider-fader{
        top: -18px;
    }

    .receipt-content .control-btn  .slider-fader-left{
        left: -30px;
    }

    .receipt-content .control-btn  .slider-fader-right{
        right: -30px;
    }

    .receipt-content .receipt-content-buttons-frame > ul > li{
        width: 210px;
    }

    .back-receipt{
        display: none;
    }

    .back-receipt:before{
        display: none;
    }

    /*---------------------------------------------------------------------------------------*/
    /* 404 */

    .myata404{
        right: -2px;
    }


    /*---------------------------------------------------------------------------------------*/
    /* Где купить? */

    main{
        padding-bottom: 220px;
        overflow: hidden;
    }

    /*---------------------------------------------------------------------------------------*/
    /* Энкицклопедия Вопросы*/

    /*---------------------------------------------------------------------------------------*/
    /* Партнерам */

    .partners-menu ul li{
        width: 148px;
        padding-right: 18px;
    }
    .production-image{
        float: none;
        margin: 0 auto;
    }

    .production-services{
        margin-left: 0;
    }

    .production-services ul{
        margin: 20px 0px 0 118px;
    }

    .production-services ul li{
        display: inline-block;
        vertical-align: top;
        width: 364px;
        padding: 10px 0 0 0;
    }

    .pic-kiparis{
        top: -24px;
        left: 23px;
        background-size: 76%;
    }

    .features ul li{
        width: 223px;
    }

    .features{
        background: url("../img/lines.png") 223px 209px no-repeat;
        background-size: 52%;
    }

    .features ul li:nth-child(5) .features-name{
        left: -20px;
    }

    .myata-partners{
        top: -82px;
    }

    .slide-pic-partners{
        left: 333px;
    }

    .work-slider .slider-fader-right{
        right: 0px;
    }

    .work-slider .slider-fader-left{
        left: 0px;
    }

    .our-partners ul li{
        width: 259px;
        margin-right: 31px;
        margin-left: 27px;
    }

    .our-partners ul li:nth-child(4){
        margin-left: 220px;
    }

    .partner-moscow{
        width: 450px;
    }

    .partner-piter{
        width: 450px;
        background: url("../img/piter-pic.png") -130px 0 no-repeat;
    }

    .piter-flower{
        right: -12px;
    }

    .sertification  .slider-fader{
        display: block;
        top: 228px;
    }

    .sertification .slider-fader-left{
        left: -14px;
    }

    .sertification .slider-fader-right{
        right: -14px;
    }
    
    .sertification

    .sert-slider ul li{
        display: block;
        float: left;

        margin-right: 30px;
    }

    .coffee-sert{
        left: 285px;
    }

    .big-flo{
        top: 1328px;
    }

    .small-flo{
        z-index: 3;
        top: 2873px;
        right: -205px;
    }

    /*---------------------------------------------------------------------------------------*/
    /* О компании */

    .company-decor-content{
        width: 817px;
    }

    .ars-logo-info li:first-child{
        margin-left: 0;
    }

    .ars-logo-info li:last-child{
        margin-right: 0;
    }

    .ars-logo-info li{
        width: 316px;
        margin-right: 0;
    }

    .philosophy-info{
        width: 550px;
    }

    .philosophy-ars{
        margin-left: 550px;
    }

    .company-menu ul li{
        width: 239px;
    }

    .company-events .slider-fader-left{
        left: 95px;
    }

    .company-events .slider-fader-right{
        right: 95px;
    }

    .evkalipt{
        left: 405px;
    }

    .company-work-feature-slider ul{
        width: 748px;
        margin: 0 auto;
    }

    .company-work-feature-slider ul li{
        margin: 0 45px 0 0;
    }

    .company-work-feature-slider ul li:nth-child(4){
        margin-left: 128px;
    }

    .event-popup{
        width: 1100px;
    }

    /*---------------------------------------------------------------------------------------*/
    /* Энциклопедия Польза */

    .type-oil{
        width: 955px;
    }

    .type-oil-left{
        width: 477px;
    }

    .type-oil-left .type-info{
        width: 349px;
    }

    .type-oil-right{
        width: 477px;
        margin-left: 499px;
    }

    .type-oil-right .type-info{
        width: 375px;
    }

    .method{
        width: 945px;
    }

    .type-oil-description{
        width: 945px;
    }

    .for-beauty{
        margin-top: 60px;
        background: url("../img/oil-frame.png") -104px 13px no-repeat;
    }

    .benefit-paporotnik{
        top: 650px;
        left: -85px;
    }

    .benefit-myata{
        top: 0px;
        right: -32px;
    }

    .benefit-flower{
        right: -50px;
    }

    .benefit-pink-flower{
        left: -27px;
    }

    .oil-blocks {
        width: 1000px;
        margin: 0 auto;
    }

    .oil-block {
        width: 275px;
    }


    /*---------------------------------------------------------------------------------------*/
    /* Энциклопедия Способы применения */

    .use-blocks{
        width: 980px;
    }

    .use-block{
        width: 270px;
        margin-right: 0;
    }

    .use-list .leave-benefit{
        top: 211px;
        left: 280px;
    }

    .use-paporotnik{
        left: -19px;
        top: 1351px;
    }

    .use-myata{
        right: 29px;
    }

    .use-flower{
        top: 1022px;
        right: 21px;
    }


    .use-pink-flower{
        left: 16px;
    }

    #parallax-bg img:first-child{
        top: 319px !important;
        left: 38px !important;
    }

    #parallax-bg img:nth-child(3){
        top: 1200px !important;
        left: 0 !important;
    }

    #parallax-bg img:nth-child(4){
        top: 600px !important;
        right: -218px !important;
    }

    #parallax-bg img:nth-child(2){
        top: 2145px !important;
        right: 0 !important;
    }

    /*---------------------------------------------------------------------------------------*/
    /* Энциклопедия Рецепты */

}



/*@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) */

@media (max-width: 480px) {

    /* index page */
    body {
        background-color: #ffffff;
        min-width: 320px;
        overflow-x: hidden;
    }

    main {
        overflow: hidden;
    }

    #upBtn {
        display: none;
    }

    #parallax-bg {
        width: 100%;
        margin: 0;
        left: 0;
        overflow: hidden;
    }

    .container {
        width: 290px;
        margin: 0 auto;
    }

    header {
        width: 100%;
        height: 95px;
        position: absolute;
        background: none;
    }

    #wrapper {

    }

    .head-container {
        height: 100%;
    }

    /* Becomes header container in mobile */
    .head-container .logo {
        width: 100%;
        height: 95px;
        background-color: white;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
        margin: 0;
        position: relative;
        z-index: 10;
    }

    /* Becomes standalone log in mobile */
    .head-container .logo a {
        width: 83px;
        height: 64px;
        margin: 0 auto;
        position: relative;
    }

    #mobile-menu-switch {
        display: block;
    }

    .head-container .logo img {
        width: 83px;
        height: 64px;
        margin-top: 10px;
    }

    .menu li.active-menu {
        width: auto;
        background-color: transparent;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        box-shadow: none;
    }

    .menu > li.active-menu > a {
        color: white;
        font-weight: normal;
        width: auto;
    }

    .menu > li.active-menu > a .menu-icon {
        background-position-x: 0;
    }

    .menu > li.active-menu > a:hover {
        background-color: rgba(255, 255, 255, 0.21);
    }

    header nav {
        display: none;
        background: #fbbacb url("../img/back-menu-mobile.png") 0 0 repeat-x;
        min-height: 100%;
        position: relative;
        z-index: 5;
        padding-bottom: 10px;
    }

    header nav .menu {
        /*background: url("../img/back-menu-mobile.png") 0 0 repeat-x;*/
    }

    .menu {
        margin: 0 0 20px 0;
    }

    .menu > li {
        height: 90px;
        text-align: left;
    }

    .menu > li > a {
        height: 90px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.21);
    }

    .menu > li > a:last-child {
        border-bottom: none;
    }

    .menu > li > a .menu-item {
        width: 260px;

        margin: 0 auto;
    }

    .menu > li > a .menu-icon {
        display: inline-block;
        vertical-align: middle;

        position: relative;
        top: 0;
    }

    .menu > li > a .menu-name {
        display: inline-block;

        position: relative;
        top: 0;
    }

    .vk {
        text-align: center;
        color: rgba(255, 255, 255, 0.84);
        padding: 10px;
        width: 220px;
        margin: 0 auto 25px auto;
    }

    .up {
        display: none;
    }

    .hide-menu {
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        top: -100px;
        left: 0 !important;
        z-index: 2;
        background: url("../img/back-menu-mobile.png") 0 -100px repeat-x;
        padding: 0px 20px 0px 10px;
        margin-top: 95px;
        transition: none;
    }

    .hide-menu h2, .hide-menu p {
        display: none;
    }

    .hide-menu .catalog-type .catalog-type-item {
        box-shadow: none;
        min-height: 250px;
    }

    #catalog-back {
        display: block;
    }

    .catalog-type {
        margin: 30px 0 30px 30px;
    }

    .catalog-type-item {
        margin: 0 auto;
        width: 260px;
        padding: 0;

        margin-bottom: 20px;
    }

    .catalog-type-item:hover {
        background-color: rgba(252, 251, 251, 0);
    }

    .catalog-type-item h3 {
        text-align: left;
        padding-left: 5px;
    }

    .catalog-type-item a:hover {
        background-color: rgba(255, 255, 255, 0);
    }

    .catalog-type-item h3 > a {

        font-size: 30px;
        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid rgba(223, 222, 224, 0.25);
    }

    .catalog-type-item li > a {
        font-family: "Athelas";
        font-size: 19px;
        font-weight: normal;

        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid rgba(223, 222, 224, 0.25);
    }

    .catalog-type-item li::before {
        width: 40px;
        height: 40px;
        background: url('../img/small-icon-white.png') 0 0 no-repeat;
    }

    .catalog-type-item .bottle-icon::before {
        background-position-y: 0px;
    }

    .catalog-type-item .sauna-icon::before {
        background-position-y: -40px;
    }

    .catalog-type-item .present-icon::before {
        background-position-y: -80px;
    }

    .catalog-type-item .keramika-icon::before {
        background-position-y: -120px;
    }

    main {
        padding: 0;

        margin-top: 95px;
    }

    .main-slaider {
        margin-bottom: 30px;
        height: 350px;
        overflow: hidden;
    }

    .main-slaider li {
        width: 100%;
        height: 350px;
    }

    .main-slaider .slide1 {
        background: url('../img/slaider1.jpg') no-repeat 0 0;
        background-size: cover;
    }

    .main-slaider .slide2 {
        background: url('../img/slaider2.jpg') no-repeat 0 0;
        background-size: cover;
    }

    .main-slaider .slide3 {
        display: none;
    }

    .main-slaider ul.bxslider > li {
        background-position-x: 50%;
    }

    .main-slaider .bx-controls-direction {
        width: 100%;
        position: relative;
        margin: 0 auto;
        top: -300px;
    }

    .main-slaider .bx-wrapper .bx-controls-direction a {
        width: 28px;
        height: 55px;
        margin-top: 105px;
    }

    .main-slaider .bx-wrapper .bx-prev {
        background: url('../img/controls-mobile.png') no-repeat 0 0;
        left: 0;
        z-index: 9998;
    }

    .main-slaider .bx-wrapper .bx-next {
        background: url('../img/controls-mobile.png') no-repeat -28px 0;
        right: 0;
        z-index: 9998;
    }

    .main-slaider .slide2 .slide-content .slide-item-pic img {
        height: auto;
    }

    .main-slaider .slide2 .slide-content .slide-item-pic {
        overflow: hidden;
        width: 100%;
        height: 280px;
        display: block;
        float: none;
    }

    .main-slaider .slide2 .slide-content .slide-item-info {
        top: 0;
        margin: 0;
        width: 100%;
        background: none;
        padding: 0;
    }

    .main-slaider .slide2 .slide-content .slide-item-info p.description,
    .main-slaider .slide2 .slide-content .slide-item-info a.button {
        display: none;
    }

    /* Главный слайдер СЛАЙД 1*/
    .slide-content h2 {
        font-size: 28px;

    }

    .slide-content p {
        display: none;
    }

    .slide-content {
        width: 80%;
        margin: 0 auto;

    }

    .slide-item-info {
        left: -4px;
    }

    .slide1 .slide-content {
        margin: 100px auto 0 auto;
    }

    .scrollbar {
        display: none;
    }

    .mobile-catalog-type {
        display: block;
    }

    #mobile-mid-slider {
        position: relative;
        z-index: 2;
    }

    .mobile-catalog-type-item {

        float: left;
        vertical-align: top;
        width: 265px;
        height: 387px;
        margin-bottom: 10px;
        margin-top: 20px;

        margin-left: 20px;

        position: relative;
        z-index: 1;

        box-shadow: 0 0 10px rgba(0, 0, 0, 0.36);
    }

    .mobile-catalog-type-item img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .mobile-catalog-type-item .mobile-catalog-item-info h3 {
        padding-top: 20px;
        margin: 0;
    }

    .mobile-catalog-type-item .mobile-catalog-item-info {
        z-index: 2;
        position: relative;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.85);
        transition: background-color 0.2s linear 0s;
    }

    .mobile-catalog-type-item:hover {
        background-color: rgba(252, 251, 251, 0.52);
    }

    .mobile-catalog-type-item:last-child {
        margin-right: 0;
    }

    .mobile-catalog-type-item h3 {
        font-family: "Athelas";
        font-size: 36px;
        color: #856aab;
        font-style: italic;
        line-height: 28px;
        text-align: center;
        margin: 45px 0 15px 0;
    }

    .mobile-catalog-type-item h3 a {
        border-bottom: 1px solid #dfdee0;
        text-decoration: none;
    }

    .mobile-catalog-type-item p {
        font-family: "Athelas";
        font-size: 20px;
        text-align: center;
        line-height: 22px;
    }

    .mobile-catalog-type-item ul {
        margin: 25px 10px 0 10px;
        padding: 0;
        list-style: none;
    }

    .mobile-catalog-type-item li {
        font-family: "Athelas";
        font-size: 18px;
        color: #856aab;
        padding: 10px 10px;
    }

    .mobile-catalog-type-item li a {
        border-bottom: 1px solid #dfdee0;
        text-decoration: none;
    }

    .mobile-catalog-type-item li::before {
        content: '';
        display: block;
        float: left;
        position: relative;
        top: -10px;
        left: -8px;
        width: 40px;
        height: 40px;
        background: url('../img/small-icon.png') 0 0 no-repeat;
        margin: 0 auto;
    }

    .mobile-catalog-type-item .bottle-icon::before {
        background-position-y: 0px;
    }

    .mobile-catalog-type-item .sauna-icon::before {
        background-position-y: -40px;
    }

    .mobile-catalog-type-item .present-icon::before {
        background-position-y: -80px;
    }

    .mobile-catalog-type-item .keramika-icon::before {
        background-position-y: -120px;
    }

    .mobile-catalog-type-items {
        height: 430px;
        z-index: 10;
        overflow: hidden;
        position: relative;
    }

    .mobile-paparotnik {
        background: url("../img/paparotnik.png") 0 0 no-repeat;
        position: absolute;
        width: 399px;
        height: 268px;
        z-index: 0;
        top: -26px;
        transform: rotate(-6deg) scale(0.7);
    }

    .promo-products-decorate {
        display: none;
    }

    .myata {
        top: -77px;
        right: -90px;
        z-index: 7;
    }

    .flower {
        top: 252px;
        left: -66px;
        z-index: 3;
    }

    .promo {
        margin-top: 40px;
    }

    .spa-promo {
        height: 260px;
        width: 290px;
    }

    .spa-promo-name {
        margin: 82px auto 0 auto;
    }

    .promo-banner:before {
        left: 126px;
    }

    .promo-banner {
        height: 446px;
        width: 236px;

        margin-top: 55px;
    }

    .promo-banner .promo-banner-menu {
        margin: 0 auto;
    }

    .promo-banner .promo-banner-menu li {
        display: block;
    }

    .promo-banner .promo-banner-menu li:after {
        display: none;
    }

    .promo-slider .promo-slide-info {
        width: 235px;
    }

    /* Карта */
    .maps {
        height: 1078px;
        margin-top: 40px;
        background: transparent url("../img/mobile-map.jpg") 0 0 no-repeat;
        background-size: cover;
    }

    .map .container {
        width: 290px;
    }

    .maps-content {
        margin-top: 50px;
    }

    .map-title {
        margin-bottom: 50px;
        line-height: 35px;
    }

    .city:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    }

    .other-city:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    }

    .city {
        width: 290px;
        margin-right: 0;

        margin-bottom: 30px;
    }

    .city-info {
        margin: 10px auto 0 auto;
        width: 260px;
    }

    .other-city {
        width: 260px;
        height: 225px;
        padding: 15px;
    }

    .other-city .city {
        width: 260px;
        height: 225px;
    }

    /* Футер */
    footer {
        height: 530px;
        width: 100%;
        padding-left: 0;
        overflow: hidden;
        position: relative;
    }

    .footer-content {
        width: 290px;

        margin: 0px auto;
        padding: 20px 0 0 0;
    }

    footer .container {
        width: 290px;
    }

    .footer-decor {
        padding-left: 0;
    }

    .footer-menu-one {
        margin: 0;
        padding: 0 15px 0 10px;
        margin-bottom: 45px;
    }

    .footer-menu-two {
        margin: 0;
        padding: 0 10px 0 0;
        margin-bottom: 45px;
    }

    .footer-contacts {
        width: 245px;
        padding: 23px 20px;
        margin-bottom: 30px;

        margin-right: 0;
        text-align: center;
    }

    .footer-contacts .work-time {
        left: 64px;
        padding: 0 15px;
    }

    .footer-contacts .footer-city {
        color: #525252;
        font-family: "Athelas";
        font-size: 20px;
        font-weight: bold;
        line-height: 26px;
    }

    .footer-contacts .contact-moscow {
        margin-right: 0;

        margin-bottom: 15px;
    }

    .footer-contacts .contact-spb {
        margin: 0;
        padding: 0 5px;
    }

    .footer-contacts .tel-number {
        color: #525252;
        font-family: "Athelas";
        font-size: 20px;
        font-weight: normal;
    }

    .madein {
        margin-top: 30px;
        margin-left: 20px;
    }

    /*------------------------------------------------------------------------------------------------*/
    /* main catalog page */
    .main-catalog {
        padding-bottom: 30px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .main-catalog-title {
        display: none;
    }

    .main-catalog-type-item {

        width: 290px;
        position: relative;
        padding: 135px 0 0 0;
        margin-bottom: 50px;
        height: 215px;
    }

    .main-catalog-type {
        width: 290px;
        padding: 0;
        overflow: hidden;
    }

    .main-catalog-type-item .main-catalog-decor {
        width: 290px;
        padding: 0;

        position: absolute;
        height: 350px;
        z-index: 1;
        top: 0;
    }

    .main-catalog-type-item li {
        padding: 10px 15px;
    }

    .main-catalog-title-info {
        z-index: 5;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .main-catalog-decor img {

    }

    .main-catalog-type-item h3 {
        margin: 30px 0 15px 0;
    }

    .main-catalog .main-catalog-type-item p {
        width: 270px;
    }

    .main-catalog-type-item ul {
        position: relative;
        z-index: 2;
    }

    #footer-flower-plant {
        display: none;
    }

    #flower-main-catalog {
        top: 26px;
        left: -57px;
    }

    #paparotnik-main-catalog {
        top: 429px;
        right: -184px;
    }

    /*------------------------------------------------------------------------------------------------*/
    /* catalog page */
    .catalog-page {
        display: block;
        padding-top: 35px
    }

    .catalog-page h2 {
        font-size: 43px;
        text-align: center;
        padding: 0 20px;
        margin: 0 auto 10px auto;
    }

    .catalog-page p {
        display: none;
    }

    .catalog-page .title-info {
        width: 250px;
    }

    .catalog-page .title-info a {
        display: block;
        margin: 0 auto;

        font-size: 19px;
        margin-bottom: 10px;
    }

    .catalog-content {
        padding: 30px 0 0 0;
    }

    .filters {
        padding: 0 1px 20px 15px;
    }

    .name-filter {
        width: 260px;
        margin-bottom: 20px;
    }

    .hide-filter {
        width: 260px;
    }

    .alphabet {
        padding: 0 10px 0px 10px;
        padding-bottom: 140px;
    }

    .alphabet ul{
        width: 270px;
    }

    .alphabet ul li{

    }

    .alphabet ul li a {
        font-size: 19px;
        color: #856aab;
    }

    .catalog-list {
        margin: 0 15px 0 15px;
    }

    .catalog-paragraph {
        border: 1px solid #eae5f0;
    }

    .catalog-par {
        top: -46px;
        left: 67px;
    }

    .catalog-par .letter-names {
        display: none;
    }

    .catalog-list .slider-products {
        padding: 130px 0 40px 0px;
    }

    .catalog-list li.slide-product {
        min-height: 245px;
        width: 126px;
    }

    .catalog-list .slide-product .slider-products-image {
        height: 135px;
    }

    .catalog-list .slide-product .slider-products-image img {
        width: auto;
        height: 100%;
    }

    .catalog-list .slide-product .slider-products-description {
        font-size: 13px;
        width: 77%;
        margin: 17px 10px 0 18px;
    }

    .catalog-list .slide-product .btn-look a {
        top: 61px;
        right: 9px;
        font-size: 13px;
        padding: 8px 15px;
    }

    .catalog-page-main {
        background: #FFF url("../img/catalog-title.png") -311px -2px no-repeat;
        background-size: 368%;
    }

    .flower-catalog {
        top: 288px !important;
    }

    .paparotnik-catalog {
        top: 751px !important;
    }

    .breadcrumbs-menu-after {
        height: 200px;
        width: 100%;

        padding-top: 70px;

        margin: 0 auto 15px auto;

    }

    .breadcrumbs-menu-after ul {
        height: 100%;
        overflow: hidden;
    }

    .breadcrumbs-menu-after ul li {
        display: block;
        float: left;
        width: 180px;

        margin-right: 15px;
    }

    .breadcrumbs-menu ul li:after {
        display: none;
    }

    .breadcrumbs-menu {
        width: 290px;
        position: absolute;
        z-index: 100;
    }

    .breadcrumbs-menu ul li.active-breadcrumbs-menu a:after {
        content: '\25be';
        color: #ffa92f;
        font-size: 20px;

        margin-left: 5px;
    }

    .breadcrumbs-menu-after ul li.active-breadcrumbs-menu-after a .breadcrumbs-name {
        color: #ffa92f;
    }

    .breadcrumbs-menu ul li {
        padding: 18px 40px;
    }

    .breadcrumbs-menu ul li:nth-child(2) {
        display: none;
    }

    .breadcrumbs-menu ul li:nth-child(3) {
        display: none;
    }

    .menu-open ul li a {
        border-bottom: 1px solid rgba(223, 222, 224, 0);
    }

    .menu-open {
        background-color: #fff;

        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.09);
    }

    .menu-open ul li:nth-child(2), .menu-open ul li:nth-child(3) {
        display: block;

        background: url('../img/border.png') 0 0 no-repeat;
    }

    /*--------------------------------------------------------------------------------------*/
    /* catalog item */
    .back-receipt {
        display: block;
    }

    .back-receipt:before {
        content: '\2190';
        font-size: 23px;
        color: #5d5c67;
        margin-right: 10px;
        display: inline-block;

    }

    .receipt-content .control-btn .slider-fader {
        top: 72px !important;
    }

    .breadcrumbs {
        display: none;
    }

    .mobile-breadcrumbs {
        display: block;
        margin: 30px auto;
        text-align: center;

        position: relative;
        z-index: 10;
    }

    .mobile-breadcrumbs a {
        display: block;
        font-family: "Athelas", sans-serif;
        font-size: 22px;
        font-weight: normal;
        text-decoration: none;
        color: #ffa92f;
    }

    .mobile-breadcrumbs a:before {
        content: '\2190';

        font-size: 23px;
        color: #ffa92f;

        margin-right: 10px;
        display: inline-block;
    }

    .mobile-item-description {
        display: block;

        text-align: center;
        width: 250px;
        margin: 0 auto;
    }

    .mobile-item-description h2 {
        font-family: "Adventure", sans-serif;
        font-size: 43px;
        color: #f44677;
        font-weight: normal;
        line-height: 38px;

        margin: 0;
        padding: 0;
    }

    .mobile-item-description span {
        font-family: "Athelas", sans-serif;
        font-size: 22px;
        font-weight: normal;
        color: #acacac;
    }

    .item-page-description {
        padding: 0;
    }

    .item-image {
        width: 290px;
        margin: 30px 0;
    }

    .item-image img {
        width: 97%;
    }

    .item-description {
        margin: 0;
    }

    .item-description h2 {
        display: none;
    }

    .item-artcle {
        padding-left: 0px;
        text-align: center;
    }

    .item-info {
        width: 226px;
        border-radius: 7px;
    }

    .item-effect ul li {
        width: 250px;
    }

    .btn-buy {
        margin-left: 63px;
    }

    .encyclopedy-part h3 {
        margin: 40px 0 50px 36px;
    }

    .flo {
        left: 66px;
        top: 70px;
    }

    .encyclopedy-part {
        padding: 0;
        padding-bottom: 40px;
    }

    .part-questions {
        width: 236px;
        padding: 20px 15px 20px 15px;

        margin-bottom: 40px;
    }

    .part-useful {
        padding: 40px 0 35px 0;
        width: 266px;
    }

    .part-name {
        width: 239px;
        top: -21px;
        left: 6px;
        padding: 0 5px;
    }

    .receipt-part {
        padding: 35px 0 0 0;
    }

    .receipt-part h3 {
        text-align: center;
        margin-bottom: 20px;
    }

    .receipt-content, .receipt-item, .receipt-content .receipt-content-buttons-frame {
        /*display: block;*/
    }

    .receipt-content .back-receipt {
        margin-top: 15px;
        cursor: pointer;
    }

    .receipt-type {
        background: none;
        display: block;
        padding-bottom: 30px;
    }

    .receipt-tab.active-receipt-tab::after {
        display: none;
    }

    .receipt-part div.receipt-content.active-super-tab {
        /*display: none !important;*/
    }

    .receipt-part ul {
        width: 290px;
        text-align: center;
    }

    .receipt-part ul li {
        width: 260px;
        height: 180px;
        margin: 0 auto;
        padding: 20px 0 0 0;
    }

    .receipt-part ul li:nth-child(2), .receipt-part ul li:nth-child(3) {
        background: url("../img/border.png") 0 0 no-repeat;
    }

    .receipt-type li.active-receipt-tab .receipt-name {
        font-weight: normal;
    }

    .receipt-type li .receipt-name {
        width: 215px;
        margin: 0 auto;
    }

    .receipt-content .control-btn {
        display: none;
    }

    .receipt-content-buttons-frame {
        padding: 0;
        height: 125px;

    }

    .receipt-content .receipt-content-buttons-frame > ul > li {
        width: 152px;
        height: 92px;
        padding: 13px 10px 14px 10px;
        vertical-align: middle;
    }

    .receipt-description {
        padding: 0 15px;
    }

    .receipt-part ul li {
        width: 260px;
        height: 117px;

        margin-bottom: 25px;
    }

    .receipt-illustration .slider-products-image {
        height: 117px;
        width: 92px;

        float: left;
        border-right: 1px solid #ececec;
    }

    .receipt-illustration .slider-products-image img {
        width: auto;
        height: 75%;
    }

    .receipt-illustration .slider-products-description {

        float: right;
        width: 165px;
        margin: 0px auto 0 auto;
        padding: 21px 0;
    }

    .receipt-piece {
        border: 1px solid #ececec;
    }

    .receipt-illustration .slider-products-description .item-attributes {
        display: none;
    }

    .plus {
        left: 106px;
        top: 124px;
    }

    .same-part {
        padding: 40px 15px;
    }

    .same-part h3 {
        width: 250px;
        text-align: center;
    }

    .same-part .slider-products-content {
        width: 260px;
        height: 390px;
    }

    .slide-product .slider-products-image {
        height: 250px;
    }

    .same-part .slider-fader {
        top: 250px;
    }

    .slide-product .slider-products-description {
        font-size: 20px;
    }

    .item-page-content {
        padding-bottom: 0px;
    }

    /*---------------------------------------------------------------------------------------*/
    /* 404 */
    .content-404 {
        padding: 88px 0 55px 0;
    }

    .background404 {
        background: url("../img/small404.jpg") 0 0 no-repeat;
        width: 290px;
        height: 139px;
    }

    .myata404 {
        right: -106px;
        top: 64px;
        background-size: 42%;
    }

    .not-found {
        font-size: 24px;
        top: 0px;
        left: 5px;
    }

    .not-found-description {
        width: 280px;
        margin-bottom: 30px;
        font-size: 21px;
    }

    /*---------------------------------------------------------------------------------------*/
    /* Где купить? */
    .map-page-title {
        display: none;
    }

    .map-page-content {
        height: 900px;
    }

    .map-menu-content {
        margin: 0 auto;
        position: relative;
        top: 0;
        left: 0;

        width: 290px;
        height: 796px;
        border-radius: 0;
        background-color: rgba(255, 255, 255, 1);
    }

    .map-container {
        display: none;
        height: 275px;
    }

    .map-container #map {
        height: 275px;
    }

    .map-menu-head {
        border-radius: 0;
        box-shadow: none;
    }

    .map-menu-point {
        display: block;
        text-align: center;
    }

    .map-menu-point:first-child {
        padding: 30px 0 0 0;
    }

    .map-menu-point:last-child {
        padding: 10px 0 30px 0;
    }

    .town-list > ul > li.town-point {
        background: url("../img/right-town.png") 259px 21px no-repeat;
        padding: 25px 0 25px 19px;
        border-top: 1px solid #ebebeb;
        border-bottom: none;
    }

    .town-list > ul > li:last-child {
        border-bottom: 1px solid #ebebeb;
    }

    .online-store ul {
        margin: 0;
    }

    .map-paporotnik {
        display: block;
        left: -131px
    }

    .map-menu-decor {
        top: 0;
        left: 0;
        margin: 0 auto;
        width: 290px;
    }

    .town-list > ul > li.town-point-switch {
        padding: 25px 20px 25px 20px;
        /*height: 100%;*/
        background: none;
        height: 676px;
    }

    .town-list > ul > li.town-point-switch .back-receipt {
        display: block;
    }

    .town-list > ul > li.town-point-switch .town-name {
        color: #000;
        text-align: center;
        font-weight: bold;
    }

    .town-list > ul > li.town-point-switch .town-addresses ul{
        padding: 0 0 0 20px;
    }

    .town-list > ul > li.town-point-switch .town-addresses ul li {
        color: #5d5c67;
        padding-bottom: 30px;
    }

    .town-list > ul > li.town-point-switch .town-addresses ul li .town-store-name{
        width: 220px;
        text-align: left;
    }

    .town-list > ul > li.town-point-switch .town-addresses ul li .town-store-address{
        width: 226px;
    }


    /*---------------------------------------------------------------------------------------*/
    /* Энкицклопедия Вопросы*/

    main h2.title-ency{
        display: none;
    }

    .encyclopedy-breadcrumbs{
        padding-top: 25px;
    }

    .answers-title{
        width: 243px;
    }

    .content-block-answers{
        width: 290px;
    }

    .content-block-answers ul li{
        padding-bottom: 25px;
    }

    .question-block{
        padding: 25px 20px 0px 35px;
    }

    .answer-block{
        padding: 25px 20px 0px 35px;
        font-size: 20px;
        width: 235px;
        margin: 0 auto;
    }

    .flower-answer{
        z-index: -1;
        top: 651px;
        left: -90px;
    }

    .myata-answer{
        top: 59px;
        right: -55px;
    }


    /*---------------------------------------------------------------------------------------*/
    /* Партнерам */

    .partners-menu ul li{
        display: block;
        padding: 0;
        margin-bottom: 20px;
        width: 163px;
    }

    .partners-menu ul li:last-child{
        margin-bottom: 0px;

    }

    .partners-menu ul li a{
        color: #ffa92f;
    }

    .production-content{
        padding: 30px 15px;
    }

    .production-description{
        width: 260px;
        text-align: left;
    }

    .production-image{
        width: 260px;
        height: 129px;
    }

    .production-services ul{
        margin: 20px 0 0 0;
    }
    
    .production-services ul li {
        width: 190px;
        position: relative;
        padding-left: 74px;
        margin-bottom: 35px;
    }

    .production-services li::before{
        position: absolute;
        top: 0;
        left: -10px;
    }

    .features h3{
        display: block;
    }

    .features-work{
        padding: 0;
    }

    .features{
        background: none;
    }

    .features ul li{
        width: 260px;
        margin: 0 auto;

    }
    .features ul{
        padding: 0 10px;
    }

    .features ul li:nth-child(5){
        display: none;
    }

    .features ul li:nth-child(4), .features ul li:nth-child(5), .features ul li:nth-child(6){
        margin: 0 auto;
    }

    .features ul li:nth-child(7), .features ul li:nth-child(8), .features ul li:nth-child(9){
        margin: 0 auto 55px auto;
    }

    .work{
        height: 553px;
    }

    .work-slider ul li.work-slide{
        width: 290px;
        height: 490px;
        padding: 20px 10px;
    }

    .work-slide-title{
        padding: 0;
    }

    .slide-description{
        width: 260px;
        margin: 0 auto;
    }

    .slide-pic-partners{
        left: 5px;
        top: 146px;
    }

    .work-slider .slider-fader{
        display: none;
    }

    .myata-partners{
        display: none;
    }

    .sertification{
        padding: 0 25px;
    }

    .sert-slider{
        height: 435px;
    }

    .sert-slider::before{
        display: none;
    }

    .sert-slider ul li{
        width: 243px;
        height: 342px;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    }

    .sertification .slider-fader-right{
        right: -4px;
    }

    .sertification .slider-fader-left{
        left: 0px;
    }

    .our-partners ul li{
        width: 112px;
        height: auto;
        margin: 0 0 20px 0;
    }

    .our-partners ul li a img{
        width: 100%;
        height: auto;
    }

    .our-partners ul li:nth-child(4){
        margin: 0;
    }

    .our-partners ul li:nth-child(5){
        margin: 0 0 0 50px;
    }

    .partners-page-content{
        padding-bottom: 45px;
    }

    .piter-flower, .moscow-leave{
        display: none;
    }

    .contacts-parnters{
        padding: 0 15px;
    }

    .partner-moscow{
        width: 260px;
        padding: 50px 0;
        margin-right: 0;
        margin-bottom: 20px;
        background: url("../img/moscow-pic-mobile.png") 0 0 no-repeat;
    }

    .partner-piter{
        width: 260px;
        padding: 50px 0;
        margin-right: 0;
        margin-bottom: 20px;
        background: url("../img/piter-pic-mobile.png") 0 0 no-repeat;
    }

    .partner-contact{
        width: 260px;
    }

    .big-flo{
        top: 2410px;
        right: -284px;
        background-size: 71%;
    }

    .small-flo{
        display: none;
    }

    .pages{
        top: -10px;
    }

    .work-slider{
        background: url("../img/work-frame-mobile.png") 0 0 no-repeat;
    }

    .work-slider ul li.work-slide{
        padding: 0;
    }

    /*---------------------------------------------------------------------------------------*/
    /* О компании */

    .company-menu ul li{
        width: 223px;
    }

    .myata-history{
        top: -16px;
        left: -142px;
    }

    .history-description{
        text-align: left;
        width: 260px;
    }

    .paporotnik-history{
        top: 539px;
        right: -198px;
    }

    .company-decor-menu{
        margin-left: -152px;
        height: 749px;
    }

    .company-decor-content{
        width: 230px;
        margin-left: 231px;
        padding-top: 56px;
    }

    .company-decor-content ul:first-child{
        float: none;
    }

    .company-decor-content ul:last-child{
        margin: 0;
    }

    .company-decor-content ul{
        font-size: 21px;
    }

    .company-decor-content ul:first-child li{
        width: 230px;
    }

    .company-decor-content ul:last-child li{
        width: 230px;
    }

    .history-info{
        padding: 65px 0px 0 0px;
    }

    .ars-logo-info{
        padding: 0 15px;
    }

    .ars-logo-info li{
        width: 260px;

        margin-top: -20px;
    }

    .ars-logo-info li img{
        width: 260px;
        height: auto;
    }

    .philosophy-info{
        float: none;
        width: 260px;
        margin: 0 0 20px 0;
        padding: 0 15px;
    }

    .philosophy-ars{
        width: 290px;
        height: 276px;
        margin: 0;
        padding: 20px 0px 0px 15px;
        background: url("../img/frame-phy-mobile.png") 0 0 no-repeat;
    }

    .philosophy-ars-content{
        width: 150px;
    }

    .phy-flow{
        background: url("../img/flower-ars-phy-mobile.png") 0 0 no-repeat;
        width: 110px;
        height: 194px;
        top: 37px;
        right: 46px;
    }

    .company-events{
        margin-top: -15px;
        margin-bottom: -105px;
    }

    .event-slider ul li.event-slide{
        width: 290px;
    }

    .event-picture{
        width: 290px;
    }

    .event-slider{
        width: 290px;
    }

    .event-slider. slider-fader{
        top: 239px;
    }

    .company-events .slider-fader-left{
        left: -3px;
    }

    .company-events .slider-fader-right{
        right: -3px;
    }

    .evkalipt{
        left: 46px;
    }

    .company-work{
        padding: 120px 0px 0 0 ;
    }

    .company-work-info{
        width: 260px;
        text-align: left;

        padding: 0 15px;
    }

    .company-work .slider-fader{
        display: block;
    }

    .company-work .slider-fader-left{
        left: 0;
    }

    .company-work .slider-fader-right{
        right: 0;
    }

    .company-work-contact{
        background: url("../img/frame-phy-mobile.png") 0 0 no-repeat;
        width: 290px;
        height: 276px;
    }

    .tel-number-work{
        font-size: 32px;
    }

    .otdel-person{
        width: 263px;
    }

    .company-work-feature-slider {
        height: 200px;
        overflow: hidden;
    }

    .company-work-feature-slider ul {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .company-work-feature-slider ul > li {
        float: left;
        display: block;
    }

    .company-work-feature-slider ul li:nth-child(4) {
        margin: 0 45px 0 0;
    }

    .event-popup{
        width: 290px;
        height: auto;
        margin-left: -140px;
        overflow: visible;
    }

    .popup-close{
        top: -40px;
        right: 0px;
    }

    .popup-event-slider{
        display: none;
    }

    .popup-event-page{
        margin: 0;
        overflow: visible;
    }

    .event-image{
        width: 290px;
        height: 230px;
        margin: 0px auto;
    }

    .event-image img{
        height: 230px;
    }

    .popup-event-info{
        padding: 0 15px;
    }

    .decor-popup-bottom, .decor-popup-top{
        display: none;
    }

    .specially-for-mobile-popup{
        display: block;
    }

    /*---------------------------------------------------------------------------------------*/
    /* Энциклопедия Польза */

    .leave-benefit, .benefit-myata, .benefit-pink-flower{
        display: none;
    }

    .type-oil-description{
        width: 260px;
        padding: 0 15px;
        margin: 0 auto 15px auto;
    }

    .benefit-flower{
        z-index: 3;
        top: 435px;
        right: -133px;
        transform: rotate(-17deg);
    }

    .benefit-paporotnik{
        top: 1700px;
        left: -106px;
    }

    .type-oil{
        width: 260px;
    }

    .type-oil-left{
        padding-bottom: 25px;
    }

    .type-oil-left{
        float: none;
        text-align: center;
        height: 340px;
        width: 260px;
        margin: 0 auto;
    }

    .type-oil-right{
        float: none;
        text-align: center;
        height: 215px;
        width: 260px;
        margin: 0 auto;
    }

    .type-oil-left .type-info, .type-oil-right .type-info{
        width: 260px;
    }

    .type-oil-left::after, .type-oil-right::after{
        display: none;
    }

    .type-oil-left::before{
        content: '';
        display: block;
        background: url("../img/type-oil-left-mobile.png") 0 0 no-repeat;
        width: 264px;
        height: 101px;
    }

    .type-oil-right::before{
        content: '';
        display: block;
        background: url("../img/type-oil-right-mobile.png") 0 0 no-repeat;
        width: 264px;
        height: 101px;

        border-top: 1px solid #e5e5e5;
        padding-top: 20px;
    }

    .get-method{
        display: none;
    }

    .for-beauty{
        background: none;
    }

    .title-oil{
        width: 240px;
        margin: 0 auto 20px auto;
        line-height: 34px;
    }

    .oil-blocks{
        padding-top: 20px;

        border-image: url("../img/work-frame-mobile.png") 5 round round;

        width: 284px;
    }

    .oil-block{
        width: auto;
    }


    /*---------------------------------------------------------------------------------------*/
    /* Энциклопедия Способы применения */

    .use-content-page .answers-title{
        display: none;
    }

    .use-content-page .answers-title-mobile{
        display: block;
        width: 250px;
    }

    .tab-uses ul{
        margin-bottom: 30px;
        width: 290px;

        border: none;
    }

    .tab-uses ul li{
        width: 260px;
        margin: 0 auto 15px auto;
        text-align: center;
    }

    .tab-uses ul li a{
        border-bottom: 1px dashed rgba(101, 81, 130, 0.2);
    }

    .tab-uses ul li.active-tab-uses a{
        border-bottom: none;
    }

    .tab-uses ul li.active-tab-uses::after{
        display: none;
    }

    .use-blocks{
        width: 290px;
    }

    .use-block{
        width: 240px;
        padding: 30px 25px 0 25px;
    }

    .type-use::before{
        left: 0px;
    }

    .type-use::after{
        right: 0;
    }

    .use-method{
        display: none;
    }

    .use-method-active{
        display: block;
    }

    .look-use{
        display: block;
    }

    .look-use{
        color: #856aab;
        font-size: 20px;
        font-weight: bold;
        text-align: center;

        border: 1px solid #ede9f3;
        border-radius: 15px;

        width: 290px;
        margin-left: -26px;

        padding: 15px 0;
        cursor: pointer;
    }

    .back-use{
        margin-top: 20px;
        text-align: center;
        font-style: italic;
        font-size: 20px;
        cursor: pointer;
        font-weight: bold;
        padding-bottom: 30px;
    }

    .back-use::before{
        content: '∧';
        display: block;
        color: #bababe;
        font-style: normal;
        font-size: 15px;
    }

    .use-paporotnik{
        left: -121px;
        top: 2300px;
    }

    .use-myata{
        top: 253px;
        right: -35px;
    }

    .use-flower{
        top: 961px;
        left: -123px;
    }

    .use-pink-flower{
        top: 1500px;
        left: 255px;
    }

    .breadcrumbs-menu-after ul li a .breadcrumbs-name::after, .breadcrumbs-menu-after ul li a .breadcrumbs-name::before{
        display: none;
    }

    /*---------------------------------------------------------------------------------------*/
    /* Энциклопедия Рецепты */


}



